*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}
img {
    max-width: 100%;
}

.product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: hsl(30, 38%, 92%);
}

.product-card {
    width: 630px;
    height: 400px;
    background: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px;

}

.product-img {
    width: 50%;
    object-fit: cover;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-info {
    width: 50%;
    padding: 40px 40px;
}

.product-name {
    color: hsl(158, 36%, 37%);
    font-size: 15px;
    letter-spacing: 3px;
}

.product-title {
    font-family: 'Montserrat';
    font-size: 29px;
    margin: 18px 0;
    line-height: 29px;
}

.product-text {
    font-family: 'Montserrat';
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 15px;
    color: hsl(228, 12%, 48%);
}

.product-price {
    display: flex;
    align-items: center;
}

.discounted-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: 25px;
}

.actual-price {
    margin-left: 15px;
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.product-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    background: hsl(158, 36%, 37%);
    padding: 10px;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}

.product-cart-button span {
    padding-left: 10px;
}

@media (max-width: 768px) {
    .product-wrapper {
        padding: 0 20px;
    }

    .product-card {
        flex-direction: column;
        height: auto;
    }
    .product-img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px
        
    }
    .product-info {
        width: 100%;
    }
}
